<div class="header">
    <div class="image">
        <img src="../../../assets/image/OIP.jpg" alt="logo image">
        <div class="name"><h1>अर्थसूत्र</h1></div>
    </div>
    <div class="links">
        <button routerLink="about">About us</button>
        <button routerLink="contact">Contact us</button>
        <button routerLink="enquiry">Enquiry</button>
        <button routerLink="emi">EMI calculator</button>
        <button routerLink="login">Login</button>
      
    </div>
   
    

</div>
